<a href="https://colab.research.google.com/github/sahilparmar4/Goeduhub-Assignments/blob/main/Goeduhub_Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
startup = pd.read_csv("/content/drive/MyDrive/Goeduhub/50_Startups.csv")
startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
startup.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:
startup.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [ ]:
startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
startup["State"].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [ ]:
startup["State"] = startup["State"].replace(["New York"], 1)
startup["State"] = startup["State"].replace(["California"], 2)
startup["State"] = startup["State"].replace(["Florida"], 3)

In [ ]:
features = startup[["R&D Spend",	"Administration",	"Marketing Spend", "State"]]
features.head()
features.shape

(50, 4)

In [ ]:
target = startup[["Profit"]]
target.head()
target.shape

(50, 1)

In [ ]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(features, target, test_size = 0.2, random_state = 0)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

    R&D Spend  Administration  Marketing Spend  State
33   55493.95       103057.49        214634.81      3
35   46014.02        85047.44        205517.64      1
26   75328.87       144135.98        134050.07      3
34   46426.07       157693.92        210797.67      2
18   91749.16       114175.79        294919.57      3
7   130298.13       145530.06        323876.68      3
14  119943.24       156547.42        256512.92      3
45    1000.23       124153.04          1903.93      1
48     542.05        51743.15             0.00      1
29   65605.48       153032.06        107138.38      1
15  114523.61       122616.84        261776.23      1
30   61994.48       115641.28         91131.24      3
32   63408.86       129219.61         46085.25      2
16   78013.11       121597.55        264346.06      2
42   23640.93        96189.63        148001.11      2
20   76253.86       113867.30        298664.47      2
43   15505.73       127382.30         35534.17      1
8   120542.52       148718.95        311613.29      1
13   91992.39       135495.07        252664.93      2
25   64664.71       139553.16        137962.62      2
5   131876.90        99814.71        362861.36      1
17   94657.16       145077.58        282574.31      1
40   28754.33       118546.05        172795.67      2
49       0.00       116983.80         45173.06      2
1   162597.70       151377.59        443898.53      2
12   93863.75       127320.38        249839.44      3
37   44069.95        51283.14        197029.42      2
24   77044.01        99281.34        140574.81      1
6   134615.46       147198.87        127716.82      2
23   67532.53       105751.03        304768.73      3
36   28663.76       127056.21        201126.82      3
21   78389.47       153773.43        299737.29      1
19   86419.70       153514.11             0.00      1
9   123334.88       108679.17        304981.62      2
39   38558.51        82982.09        174999.30      2
46    1315.46       115816.21        297114.46      3
3   144372.41       118671.85        383199.62      1
0   165349.20       136897.80        471784.10      1
47       0.00       135426.92             0.00      2
44   22177.74       154806.14         28334.72      2
    R&D Spend  Administration  Marketing Spend  State
28   66051.52       182645.56        118148.20      3
11  100671.96        91790.61        249744.55      2
10  101913.08       110594.11        229160.95      3
41   27892.92        84710.77        164470.71      3
2   153441.51       101145.55        407934.54      3
27   72107.60       127864.55        353183.81      1
38   20229.59        65947.93        185265.10      1
31   61136.38       152701.92         88218.23      1
22   73994.56       122782.75        303319.26      3
4   142107.34        91391.77        366168.42      3
       Profit
33   96778.92
35   96479.51
26  105733.54
34   96712.80
18  124266.90
7   155752.60
14  132602.65
45   64926.08
48   35673.41
29  101004.64
15  129917.04
30   99937.59
32   97427.84
16  126992.93
42   71498.49
20  118474.03
43   69758.98
8   152211.77
13  134307.35
25  107404.34
5   156991.12
17  125370.37
40   78239.91
49   14681.40
1   191792.06
12  141585.52
37   89949.14
24  108552.04
6   156122.51
23  108733.99
36   90708.19
21  111313.02
19  122776.86
9   149759.96
39   81005.76
46   49490.75
3   182901.99
0   192261.83
47   42559.73
44   65200.33
       Profit
28  103282.38
11  144259.40
10  146121.95
41   77798.83
2   191050.39
27  105008.31
38   81229.06
31   97483.56
22  110352.25
4   166187.94
(40, 4)
(10, 4)
(40, 1)
(10, 1)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ypred = model.predict(xtest)
ypred

array([[103083.22418255],
       [132499.19098469],
       [132504.92013514],
       [ 72044.22079157],
       [178578.88804813],
       [116196.18897916],
       [ 67901.09868183],
       [ 98843.64614762],
       [114025.15059486],
       [167965.96780569]])

In [ ]:
from sklearn.metrics import r2_score

accuracy = r2_score(ytest, ypred)
accuracy*100

93.48088470484865