<a href="https://colab.research.google.com/github/sahilparmar4/Goeduhub-Assignments/blob/main/Goeduhub_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Is a list mutable?**

**Answer:** Yes, lists are mutable.

**2. Does a list need to be homogeneous?**

**Answer:** List can contain heterogeneous values such as integers, floats, strings, tuples, lists, and dictionaries but they are commonly used to store collections of homogeneous objects.

**3. What is the difference between list and tuple?**

**Answer:** Lists can be represnet in "[]" brackets, while tuples can be represent in "()" brackets. Lists are mutable, while tuples are immutable.

**4. How to find the number of elements in the list?**

**Answer:** In code

In [ ]:
l = [1, 2, 3, 4, 5]
len(l)

5

**5. How to check whether the list is empty or not?**

**Answer:** In code

In [ ]:
if len(l) == 0:
  print("List is empty")
else:
  print("List is not empty")

List is not empty

**6. How to find the first and last element of the list?**

**Answer:** In code

In [ ]:
print("First element:", l[0])
print("Last element:", l[-1])

First element: 1
Last element: 5

**7. How to find the largest and lowest value in the list?**

**Answer:** In code

In [ ]:
print("Largest value:", max(l))
print("Lowest value:", min(l))

Largest value: 5
Lowest value: 1

**8. How to access elements of the list?**

**Answer:** In code

In [ ]:
# Using positive indexing

print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])

print()
# Using negative indexing

print(l[-1])
print(l[-2])
print(l[-3])
print(l[-4])
print(l[-5])

1
2
3
4
5

5
4
3
2
1

In [ ]:
# Using for loop

for i in l:
  print(i, end = " ")

1 2 3 4 5

**9. Remove elements in a list before a specific index**

**Answer:** In code

In [ ]:
# using pop() method
l.pop()
print(l)

[1, 2, 3, 4]

In [ ]:
# using remove() method 
l.remove(2)
print(l)

[1, 3, 4]

In [ ]:
# using slicing
del l[0:2]
print(l)

[4]

In [ ]:
# using del statement
del l[0]
print(l)
del l
print(l)

[]

NameError: ignored

**10. Remove elements in a list between 2 indices**

**Answer:** In answer 8 "using slicing"

**11. Return every 2nd element in a list between 2 indices**

**Answer:** In code

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[::2])

[1, 3, 5]

**12. Get the first element from each nested list in a list**

**Answer:** In code

In [ ]:
l = [1, 2, 3, 4, 5, ["Sahil", "Parmar"]]
print(l[-1][0])

Sahil

**13. How to modify elements of the list?**

**Answer:** In code

In [ ]:
l[-1] = 6 
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
# using update method
l1 = [7, 8, 9, 10]
l.append(l1)
print(l)

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10]]

**14. How to concatenate two lists?**

**Answer:** In code

In [ ]:
# using + operator

l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# using extend() method
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# using * operator
l3 = [*l1, *l2]
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

**15. How to add two lists element-wise in python?**

**Answer:** In code

In [ ]:
sum = []
for (i, j) in zip(l1, l2):
  sum.append(i + j)
print(sum)

[6, 8, 10, 12]

**16. Difference between del and clear?**

**Answer:** del will delete entire list and clear will remove all the elements inside the list. After applyiong del statement, if we try to print that list, it will show the error, but if we try to print that list after applying clear, it will show the null string without any value inside it.

**17. Difference between remove and pop?**

**Answer:** pop() will remove the last element byt default. remove() takes value as parameter to remove the element.

**18. Difference between append and extend?**

**Answer:** append will add nested list means list in list at last position,while extend will extend the elements from last index, but in single list.

**19. Difference between indexing and Slicing?**

**Answer:** index will give us the index of specified value, while slicing will give value or group of values of specified index.

**20. Difference between sort and sorted?**

**Answer:** The sort() function modifies the list in-place and has no return value. The sorted() function will create a new list containing a sorted version of the list it is given. The sorted() function will not modify the list passed as a parameter.

**21. Difference between reverse and reversed?**

**Answer:** reverse() actually reverses the elements in the container. reversed() doesn't actually reverse anything, it merely returns an object that can be used to iterate over the container's elements in reverse order. 

**22. Difference between copy and deepcopy?**

**Answer:** A shallow copy constructs a new compound object and then inserts references into it to the objects found in the original. A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

**23. How to remove duplicate elements in the list?**

**Answer:** in code

In [ ]:
l = [148, 183, 139, 107, 101, 109, 139, 113, 134, 124]
odi = set(l)
print(list(odi))

[101, 134, 107, 139, 109, 113, 148, 183, 124]

**24. How to find an index of an element in the python list?**

**Answer:** In code

In [ ]:
l.index(183)

1

**25. How to find the occurrences of an element in the python list?**

**Answer:** In code

In [ ]:
l.count(139)

2

**26. How to insert an item at a given position?**

**Answer:** In code

In [ ]:
l.insert(10, 224)
print(l)

[148, 183, 139, 107, 101, 109, 139, 113, 134, 124, 224]

**27. How to check if an item is in the list?**

**Answer:** In code

In [ ]:
i = int(input("Enter eleemnt: "))
if i in l:
  print(True)
else:
  print(False)

Enter eleemnt: 183
True

**28. How to flatten a list in python?**

**Answer:** In code

In [ ]:
l = [[1,2,3],[4,5,6],[7,8,9]] 
flat = []

for i in range(len(l)):
  for j in range (len(l[i])): 
    flat.append(l[i][j]) 
    
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**29. How to convert python list to other data structures like set, tuple, dictionary?**

**Answer:** In code

In [ ]:
l = [1, 2, 3, 4, 5]
t = tuple(l) #in tuple
print(t)
s = set(l) #in set
print(s)
d = {n: n*n for n in l} #in dictionary
print(d)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**30. How to apply a function to all items in the list?**

**Answers:** In code

In [ ]:
ans = []

for x in l:
	def res(x): return x*2
	ans.append(res(x))

print(ans)

[2, 4, 6, 8, 10]

**31. How to filter the elements based on a function in a python list?**

**Answer:** In code

In [ ]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

**32. How python lists are stored in memory?**

**Answer:** Lists, then, are stored in distinct chunks of memory which are linked together with pointers, which enables efficient use of memory generally and doesn't require resizing. ... Arrays, by contrast, are stored in sequential slabs of contiguous memory of fixed size, which enables efficient indexing and random access.